[Unit]
Description=InescoinMessenger
StartLimitIntervalSec=30
StartLimitBurst=3

[Service]
Type=simple

ExecStart=/root/.nvm/versions/node/v10.16.0/bin/node /opt/messenger/inescoin-messenger.js

Restart=always
WorkingDirectory=/opt/

[Install]
WantedBy=multi-user.target
Alias=inescoin-messenger.service
