[Unit]
Description=InescoinSyncNode
StartLimitIntervalSec=30
StartLimitBurst=3

[Service]
Type=simple

ExecStart=/opt/src/bin/inescoin-sync --prefix={{ prefix }}

Restart=always
WorkingDirectory=/opt/

[Install]
WantedBy=multi-user.target
Alias=inescoin-sync.service
